.card-top {
    background-color: aliceblue;
    opacity: 0.6;
}

#title{
    font-size: medium;
    text-align: center;
    position: relative;
}

#last
{
    background-color: aliceblue;
    opacity: 0.6;
    position: relative;
}

#systolic{
    text-align: center;
    font-size: small;
    color: rgb(0, 0, 0);
    position: relative;
}

#diastolic{
    text-align: center;
    font-size: small;
    color: rgb(0, 0, 0);
    position: relative;
}

#glucose{
    text-align: center;
    font-size: smallss;
    color: rgb(0, 0, 0);
    position: relative;
}