.card-top {
    background-color: rgb(255, 255, 255);
}

.color {
    background: linear-gradient(to bottom,  #fdfdfd 0%, #b6eefc 100%);
}

#left {
    text-align: center;
}

.center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 43%;
    height: 43%; 
  }

#title{
    font-size: 4px;
    position: relative;
}

#values{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: rgb(104, 101, 101);
    margin-top:0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#txt{
    text-align: center;
}

#right{
    text-align: center;
}