page-home {

    #last{
        margin: auto;
        position: relative;
        top: 50px;
        width: 120px;
        height: 120px;
    }

    #contact{
        position: relative;
        bottom: -100px;
    }

    
}
