page-contact-details {

}

// .logo{
//     margin-top:10px;
//     //margin-left:5px;
//     //margin-right:5px;
//     margin-bottom:10px;
// }
.doctor{
    display:block;
    margin-top:10px;
    width:50%;
    height:30%;
    margin-left:auto;
    margin-right:auto;
}
